<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Use YOLOv3 -->
  <arg name="network_param_file"         default="$(find darknet_ros)/config/yolov3.yaml"/>
  <arg name="ros_param_file"             default="$(find darknet_ros)/config/ros_arl.yaml"/>

  <param name="use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="rosbag" args="/home/nico/datasets/artifact/BAYESIAN_ARTS_for_yolo.bag --clock"/>
  <node pkg="topic_tools" type="throttle" name="image_throttle" args="messages /camera/image_raw 0.1"/>

  <!-- Include main launch file -->
  <include file="$(find darknet_ros)/launch/darknet_ros.launch">
    <arg name="network_param_file"    value="$(arg network_param_file)"/>
    <arg name="ros_param_file"        value="$(arg ros_param_file)"/>
  </include>

</launch>
